*{
    margin: 5px;
    padding: 5px;
}
body{
    background-color: darkcyan;
}
.padre{
    background-color: black;
    padding: 7px;
    width: auto;
    height: 450px;
}
.titulo{
    background-color: aqua;
}
.menu{
    background-color: goldenrod;
}


.contenido{
    background-color: whitesmoke;
    width: auto;
    height: 320px;
}
.c1{
    background-color: red;
    width: 50px;
    height: 50px;
    position: fixed;
    /*top: 50px;
    left: 100px;*/
    bottom: 50px;
    right: 50px;
}
.c2{
    background-color: yellow;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    right: 100px;
}
.c22{
    background-color: black;
    width: auto;
    height: 30px;
}
.c3{
    background-color: green;
    width: 50px;
    height: 50px;
    position: relative;
    top: 50px;
}
.c4{
    background-color: cornflowerblue;
    width: 50px;
    height: 50px;
    position: relative;
    /*top: 0px;
    left: 200px;*/
    position: sticky;
    top: 150px;
}

/*----------------------- CARITAAAAAAAAA -----------------------*/

.carita{
    background-color: black;
    width: 350px;
    height: 250px;
    position: absolute;
    top: 150px;
    left: 400px;
}
.ojoIz{
    background-color: white;
    height: 50px;
    width: 70px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.ojoDer{
    background-color: white;
    height: 50px;
    width: 70px;
    position: absolute;
    top: 50px;
    right: 50px;
}
.boca{
    background-color: whitesmoke;
    height: 40px;
    width: 140px;
    position: absolute;
    top: 135px;
    left: 100px;
}


/*--------------------------------------------------------------*/
.pie{
    background-color: coral;
}